body{
    margin: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: blanchedalmond;
}
#calculadora{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2vw 5vw 7vw 5vw;
    background-color: rgb(2, 8, 20);
    border-radius: 20px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px 20px 20px 0;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(74, 87, 88) ;
    color: aliceblue;
}
#chaves{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px ;
    padding: 50px;
}
button{
    width: 6vw;
    height: 6vw;
    margin: 10px;
    background-color: rgb(78, 75, 65);
    border: none;
    border-radius: 13px;
    color: aliceblue;
    font-size: 3rem;
    font-weight: bolder;
    cursor: pointer;
}
button:hover{
    background-color:rgb(214, 185, 18);
    color: black;
}
button:active{
    background-color:rgb(128, 110, 10);
    color: rgb(63, 34, 34);
}
.operadores{
    background-color: rgb(99, 31, 90);
}